# Visual Studio
*.code-workspace
.vscode/
*.pdb

# Documentation Files
doc/Doxyfile
doc/html
doc/visuals/**/media/
doc/visuals/**/__pycache__/
*.drawio

# Compiled Shaders
*.spv

# Config for Local File Paths
config.hpp

# Build Install Directories
build/
install/

# Dear ImGui
imgui.ini