/.vs
/Debug
/x64
*.sln
*.vcx*
/imgui
/packages
/Cadera
shaders/compile.bat
/.obsidian
*.spv
*.gfxr
*.ini
imgui.ini
build/
.vscode/
*.spv
doc/Doxyfile
doc/html
*.code-workspace
doc/visuals/**/media/
doc/visuals/**/__pycache__/
*.drawio
*.pdb
vcpkg-configuration.json
vcpkg_installed/